In [31]:
# dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

In [16]:
#initialize browser
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

## 1. Mars News Site

In [17]:
#vist mars news url
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [18]:
html = browser.html
soup = bs(html, "html.parser")

soup.find("div", class_="bottom_gradient").get_text()

"NASA's Ingenuity Mars Helicopter Recharges Its Batteries in Flight"

In [19]:
soup.find("div", class_="article_teaser_body").get_text()

'Headed to the Red Planet with the Perseverance rover, the pioneering helicopter is powered up for the first time in interplanetary space as part of a systems check.'

In [20]:
#browser.quit()

In [21]:
listings = {}
listings["news_title"] = soup.find("div", class_="bottom_gradient").get_text()
listings["news_p"] = soup.find("div", class_="article_teaser_body").get_text()
listings

{'news_title': "NASA's Ingenuity Mars Helicopter Recharges Its Batteries in Flight",
 'news_p': 'Headed to the Red Planet with the Perseverance rover, the pioneering helicopter is powered up for the first time in interplanetary space as part of a systems check.'}

## 2. Featured Mars Image

In [22]:
# url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
# browser.visit(url)

In [23]:
# html = browser.html
# soup = bs(html, "html.parser")

In [40]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser('chrome', **executable_path)
browser.visit(url)
time.sleep(5)
browser.click_link_by_id("full_image")
time.sleep(5)
soup = bs(browser.html,'html.parser')
data = soup.find_all("img", class_="fancybox-image")
image_link = data[0]["src"]

In [50]:
listings["image_link_url"] = f"https://www.jpl.nasa.gov/spaceimages{image_link}"
listings["image_link_url"]
#listings

{'news_title': "NASA's Ingenuity Mars Helicopter Recharges Its Batteries in Flight",
 'news_p': 'Headed to the Red Planet with the Perseverance rover, the pioneering helicopter is powered up for the first time in interplanetary space as part of a systems check.',
 'image_url': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA20063_hires.jpg',
 'image_link_url': 'https://www.jpl.nasa.gov/spaceimages/spaceimages/images/mediumsize/PIA17302_ip.jpg'}

## 3. Mars Table Info

In [32]:
marstable_df = pd.read_html('http://space-facts.com/mars/')[0]
marstable_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [33]:
marstable_df.columns=['Description', 'Mars']
marstable_df.set_index('Description', inplace=True)
marstable_df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [35]:
print(marstable_df.to_html())
# copy this to index.html

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## 4. Hemispheres

In [54]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [55]:

html = browser.html
soup = bs(html, "html.parser")


#create empty list for hemisphere image urls
hemisphere_image_urls = []

#get the urls
first_item = soup.find("a", class_="itemLink_product_item")
first_item

In [37]:
hemisphere_image_urls = [{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [ ]:
#quit the browser
browser.quit()